body {
    background-color: #7DE1A4;
    font-family: "Ubuntu", sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 41pt;
    margin: 10px 0; 
}

* {
    outline: 1px solid #31d6e0; 
}

.hobbies-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media query-tablet-sized */
@media screen and (min-width: 60em) {
    .photo-gallery {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px; 
    }

    .photo-gallery figure {
        margin: 0; 
    }

    .photo-gallery figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    #lit {
        max-width: 100%;
        columns: 40rem; 
    }

    /* drop caps */
    .drop-cap:first-child {
        float: left;
        font-size: 4rem;
        line-height: 1;
        padding-right: 0.5rem;
        padding-bottom: 0.2rem;
        margin-right: 0.5rem;
        font-family: 'Anta', sans-serif;
        font-weight: bold;
    }

    .drop-cap:not(:first-child) {
        display: none; 
    }
}

/* Media query laptop-sized  */
@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery h2 {
        grid-column: 1 / -1; 
    }

   
    #gallery hr {
        display: none;
    }


    #gallery figure {
        display: block;
    }
}
