body {
    background-color: #7DE1A4;
    font-family: "Ubuntu", sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 41pt;
    margin: 10px 0; 
}

* {
    outline: 1px solid red; 
}

.hobbies-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media query-tablet-sized devices */
@media screen and (min-width: 60em) {
    .photo-gallery {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px; 
    }

    .photo-gallery figure {
        margin: 0; 
    }

    .photo-gallery figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }
}
